.far {
    color: rgb(149, 201, 149);
    font-size: 10rem;
    margin-left: 2rem;
    position: absolute;
    width: 160px;
    height: 155.11px;
}

.card-text {
    margin-top: 3rem;
}

.card-text-i {
    font-size: 15px;
    color: grey;
}

.card-text-u {
    font-size: 13px;
    color: grey;
}

.col-md-2 {
    background: #F4F4F4;
    border-color: #424242;
    position: static;
    width: 230px;
    height: 768px;
}

.nav-link {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    box-sizing: border-box;
}

.nav-link:hover {
    display: block;
    flex: none;
    position: static;
    background: #FFFFFF;
    width: 180px;
    border-radius: 6px;
    align-self;
    flex-grow: 0;
    color: black;
}

.btn-primary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 12px;
    position: static;
    width: 174px;
    height: 40px;
    left: 0px;
    top: 0px;
    /* Color / Light Green */
    background: #E1F3E5;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}

.btn-outline-light {
    width: 100%;
}

.col-md-5 {
    margin-top: 3.7rem;
    margin-left: 5rem;
}